:root {
    --primary-color: rgb(29, 27, 27);
    --secondary-color: rgb(88, 83, 83);
    --green-color: rgb(135, 199, 196);
  }
  html,
  body {
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    display: flex;
  }
  
  h3 {
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
    padding-left: 1rem;
  }
  
  p {
    line-height: 1;
    font-size: 14px;
    text-align: left;
    align-items: left;
    margin:0;
  }