:root {
    --primary-color: rgb(29, 27, 27);
    --secondary-color: rgb(156, 149, 149);
    --green-color: rgb(135, 199, 196);
  }
  
  html,
  body {
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    display: flex;
    text-align: center;
  }
  
  h3 {
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  p {
    line-height: 1;
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin: 1rem 0;
  }
  
  a:hover {
    color: var(--primary-color);
  }
  
  h2 {
    margin: 1rem;
    color: var(--primary-color);
    padding-bottom: 1px;
    margin-top: 3rem;
  }
  
  h3 {
    color: var(--primary-color);
    text-align: center;
  }
  
  .readmore {
    border: 3px solid var(--green-color);
    border-radius: 2px 34px 34px;
    background-color: var(--green-color);
    font-size: 18px;
    margin: 2rem;
    padding: 5px;
    align-items: center;
    text-align: center;
  }
  
  img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 24px;
  }
  
  img.right {
    float: right;
    margin-right: 0;
  }
  img.left {
    float: left;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .flex-justify-center {
    display: flex;
    justify-content: center;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .flex-align-items-center {
    align-items: center;
  }
  .section-title {
    font-size: 1rem;
    margin-bottom: 0;
    padding: 0;
  }
  